@charset "UTF-8";
/* * {
  outline: 2px red solid;
} */
html {
  font-size: 100%;
  font-family: "Yu Gothic", sans-serif, "Poppins", sans-serif;
  color: #333;
}
body {
  font-weight: 300;
  background-color: rgba(255, 243, 230, 100);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
h2 {
  font-family: "Italianno";
  font-size: 2rem;

}
p {
  font-weight: 500;
  font-size: 18px;
}
:root {
  --fadeAnimation: fade 0.5s forwards;
}
.inner {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.pc-none {
  display: block;
}
.sp-show {
  display: none;
}
.md-show {
  display: none;
}

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 80px);
}
.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/* Loading */


/* header */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  opacity: 0.8;
  padding-top: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2% 0 5%;
}

.header__logo {
  margin: 0;
  line-height: 0;
}
.header__logo a {
  display: block;
}
.header__logo img {
  max-width: 180px;
}

.header__items {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__item {
  margin-left: 30px;
}

.header__link,
.slide-menu__link,
.header__link--contact {
  font-family: "Italianno";
  font-size: 35px;
  letter-spacing: 0.1rem;
}
.header__link::after .slide-menu__link::after {
  content: "";
  width: 0;
}

.header__link:hover {
  color: #c47c7c;
}

.header__link:hover::after,
.slide-menu__link:hover::after {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  border-radius: 2px;
  height: 2px;
  transition: width 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-color: #cba96d;
}

.header__link {
  font-weight: 500;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #141414;
  line-height: 1;
}

.header__link--contact {
  border: 1px solid #666666;
  border-radius: 4px;
  display: block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #141414;
  background-color: transparent;
  padding: 10px 40px;
  margin: 0 auto;
}

.header__link--contact span {
  position: relative;
  z-index: 9999;
}

.header__link--contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: #e9af53;
  transition: all 0.5s ease-in-out;
  transform: translateX(-110%) translateY(-20%) rotate(45deg);
}

.header__link--contact:hover span {
  color: #fff;
}

.header__link--contact:hover::after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

nav ul li.current a,
nav ul li a:hover {
  color: #b74803;
}

/* hamburger-button */
.hamburger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  cursor: pointer;
  z-index: 999;

  span {
    background-color: #333;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
  }
}
.hamburger span {
  position: absolute;
}
.hamburger-button .hamburger-button span:first-of-type {
  top: 0;
}
.hamburger-button span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-button span:last-of-type {
  bottom: 0;
}
.hamburger-button.active > span:first-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 9999;
  background-color: #443103;
}
.hamburger-button.active > span:nth-of-type(2) {
  display: none;
}
.hamburger-button.active > span:last-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9999;
  background-color: #443103;
}

/* slide-menu */
.slide-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0%, -50%);
  align-items: center; 
   justify-content: center; 
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  opacity: 0.8;
  z-index: 998;
}
.slide-menu ul {
  padding: 10px;
  margin: 0px 0px;
  text-align: center;
}
.slide-menu li {
  /* border-bottom: solid 2px #333; */
  width: 80px;
  margin-bottom: 20px;
  font-size: 20px;
}
.slide-menu__link:hover {
  color: #333;
}

.slide-menu__link--contact {
  padding: 10px 3px;
  transition: 0.3s background-color;
  background-color: #cba96d;
  border-radius: 6px;
}
.slide-menu__link--contact:hover {
  opacity: 1;
  background-color: #cba96d;
}
.slide-menu.active {
  display: flex;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    top: 45%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}
.icon-button i {
  font-size: 30px;
  display: flex;
  text-align: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
}




/* read-more__button */
.read-more__button {
  display: flex;
  width: 160px;
  padding: 18px;
  border-radius: 7px;
  /* border: 2px solid #ccc; */
  background: #f1e767;
  font-family: "Italianno";
  background: gradient(
    linear,
    left top,
    left bottom,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  margin: 80px auto;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: filter 0.3s, transform 0.3s;
  position: relative;
box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);

}
.read-more__button span {
  position: relative;
}
.read-more__button::before {
  background: linear-gradient(to right, rgba(203, 122, 157, 0.699), #f4fcfe);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  width: 100%;
  border-radius: 8px;
}
.read-more__button::after {
  content: "";
  position: relative;
  width: 10px; /* ボックスの横幅を指定する */
  height: 10px; /* ボックスの高さを指定する */
  border-top: 1px solid #666666; /* 境界線の上部を実線に指定する*/
  border-right: 1px solid #666666; /* 境界線の上部を実線に指定する*/
  transform: rotate(45deg); /* ボックスを回転させる（右向き矢印） */
  top: 8px;
  animation: slideBlink 1s linear infinite;
}
@keyframes slideBlink {
  /* アニメーションの内容 */
  from {
    /* アニメーション開始時のスタイル */
    opacity: 0;
    left: 8px;
  }
  to {
    /* アニメーション終了時のスタイル */
    opacity: 1;
    left: 25px;
  }
}

.read-more__button:hover {
  background: gradient(
    linear,
    left bottom,
    left top,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.read-more__button:hover::before {
  opacity: 0;
}







.website-service {
margin-top: 100px;
position: relative;

}
.fv-img__website {
  background-image: url(../img/web-site-service-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__design {
  background-image: url(../img/web_design-img\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__renewal {
  background-image: url(../img/site-renewal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__recipe {
  background-image: url(../img/recipe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__consultant {
  background-image: url(../img/consultant1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}
.fv-img__Photographer {
  background-image: url(../img/photographing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
position: relative;
  aspect-ratio: 1500 / 400;
}






.website-service__inner {
margin-inline: auto;
}


.page-title {
  font-size: 60px;
  width: 350px;
  height: 70px;
  /* display: inline-block; */
  text-align: center;
  position: absolute;
  margin-inline: auto;
  font-family: "Italianno";
  letter-spacing: 0.08rem;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color: rgba(232, 232, 232, 0.8);
border-radius: 5px;
}
.page-title__recipe,
.page-title__consultant,
.page-title__photo,
.page-title__design {
  font-size: 70px;
  width: 90%;
  max-width: 500px;
  /* height: 100px; */
  /* display: inline-block; */
  align-items: center;
  text-align: center;
  position: absolute;
  margin-inline: auto;
  font-family: "Italianno";
  letter-spacing: 0.08rem;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color: rgba(232, 232, 232, 0.9);
border-radius: 5px;
}


.service-items {
/* padding-left: 50px; */
line-height: 1.556;
letter-spacing: 0.05em;
}

.service-item {
  text-align: center;
}

.summary,
.track-record,
.price  {
padding: 20px 0;
}
/* .summary {
  padding-top: 0;
} */

.service-title {
padding: 10px 0;
letter-spacing: 0.1em;
margin-inline: auto;
width: 200px;
position: relative;
font-size: 30px;
}
.service-title::before {
content: "";
position: absolute;
right: 0px;
bottom: 0;
border: 1px solid  #bf901a;
width: 200px;

}

.service-item .shop__link {
color: #b74803;
background-color: #fff;
}


.price {
text-align: center;
}

table {
  display: table;
  border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: rgb(255, 153, 229);
}
.pricechart_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
}


.pricechart_list {
  box-shadow: 6px 6px 12px -4px rgba(0, 0, 0, 0.16)
}


.pricechart_item__title {
text-align: center;
background-color: #fde4f9;
    border-bottom: 1px solid #FFF;
    font-size: 1rem;
    vertical-align: middle;
    padding: 20px 12px;
}

.pricechart_item__title.pricechart_item__title01 {
  background-color: rgba(255, 243, 230, 100);
}


.pricechart_item__radius01 {
border-radius: 8px 0 0 0;
}
.pricechart_item__radius02 {
border-radius:  0 8px 0 0;
}
.pricechart_item__radius03 {
border-radius:  0 0  0 8px;
}
.pricechart_item__radius04 {
border-radius: 0 0 8px 0 ;
}


.pricechart_item__text {
text-align: center;
border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;

background-color: #ffddbd;
padding: 20px;
}

.font_large {
font-size: 30px;
}

.font_small {
font-size: 12px;
}


.work-flow {
padding-top: 50px;
}


.work-flow__title {
text-align: center;
}
.work-flow__inner {
margin-inline: auto;
}

.time-line {

}

.timeline-item {
display: flex;
/* margin-bottom: 0; */
position: relative;
}

.timeline-title {
width: 24%;
padding: 1.5rem 2.5rem 0 0;
text-align: right;
}
/* .timeline-title::after {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: #d0bea2;
  text-align: center;
  padding: .1rem;
  position: absolute;
  top: 1.5rem;
  left: -1.5rem;
} */
/* .content {
  position: relative;
} */
/* .content::after {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: #d0bea2;
  text-align: center;
  padding: .1rem;
  position: absolute;
  top: 1.5rem;
  left: -1.5rem;
  font-family: 'Font Awesome 6 Free';
font-weight: 900;
color: #fff;
font-size: 1.25rem;
} */

.timeline-text {
/* border-left: 5px solid #de73a9; */
width: 76%;
padding: 1.5rem 0 0 5rem;
position: relative;
}

.timeline-text::before {
  content: "";
position: absolute;
top: 0;
left: 10px;
border: 5px solid rgb(252, 225, 190);
/* width: 5px; */
height: 100px;

}

.icon {
  position: absolute;
  padding-top: 40px;
  font-size: 30px;
left: 18rem;
z-index: 10;
} 


/* .icon-chat::after {
content: 'f086';
} */



.icon-text {

}


.icon-work {

}

.icon-file {

}








































.contact {
  background-image: url(../img/news-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* width: clamp(460px, 90vw, 900px); */
  margin: 80px auto 0;
  position: relative;
  z-index: 100;
}
.contact__wrap {
  padding: 20px 0;
  margin: 20px;
}
.contact .section-title {
  margin: 30px auto;
  width: 270px;
}
.contact .section-title span {
  position: absolute;
  left: 50px;
}
.contact .section-title h2 {
  position: absolute;
  right: 62px;
}
.contact__text {
  text-align: center;
  margin: 30px auto;
  line-height: 1.78;
  letter-spacing: 0.05em;
  /* background-color: rgba(220, 220, 220, 0.3); */
}

.contact__form {
  margin-top: 68px;
  padding: 0 20px 0 60px;
  width: 20%;
}

.contact__item:not(:first-child) {
  margin-top: 30px;
}

.contact__label {
  display: flex;
  align-items: center;
  position: relative;
}

.contact__label-text {
  font-size: 16px;
  color: #25262b;
}

.contact__required {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  background-color: #e05760;
  padding: 2px 10px;
  margin-left: 8px;
}

.contact__input,
.contact__select {
  font-size: 14px;
  color: #25262b;
  border-radius: 4px;
  border: 1px solid #aab5ba;
  margin-top: 12px;
  padding: 11px;
  width: 100%;
}

.contact__select-wrap {
  position: relative;
}

.contact__select-wrap::after {
  position: absolute;
  content: url(../img/icon-arrow.svg);
  top: 19px;
  right: 11px;
}

.contact__textarea {
  font-size: 14px;
  color: #25262b;
  border: 1px solid #aab5ba;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  margin-top: 12px;
  padding: 11px;
  resize: none;
}

.contact__input::-moz-placeholder,
.contact__textarea::-moz-placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__select:invalid {
  color: #d5d5d5;
}

.contact .read-more__button {
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;

  color: #333;
  padding: 15.5px 12px;
  margin-top: 40px;
  width: 90%;
  transition: background-color 0.3s;
}
.contact .read-more__button::before {
  background: linear-gradient(to right, rgba(203, 122, 157, 0.699), #f4fcfe);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  width: 100%;
  border-radius: 8px;
}
.contact .read-more__button::after {
  top: 0;
}
sup {
  position: absolute;
  top: 8px;
  color: #f0111f;

  font-size: 20px;
}

/* Footer */
#footer {
  width: 100%;
  background-image: url(../img/footer-background.jpg);
  /* padding-bottom: 180px; */
 
}
.footer__container {
  position: relative;
  z-index: 100;
}

.footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
  margin: 0;
}

.footer a {
  color: #1d1635;
  font-family: "Italianno";
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.footer__icon i {
  font-size: 30px;
  padding: 10px;
  margin: 0 30px;
  color: #333;
  cursor: pointer;
}
.footer__icon {
  text-align: center;
}
.footer__info {
  letter-spacing: 2px;
  line-height: 1.5;
  display: block;
  max-width: 500px;
}

.footer__copy-right p {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 0.85rem;
}

/* scroll */
.scroll-fixed {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.loop__wrap {
  display: flex;
  position: relative;
  z-index: -100;
}

.loop__wrap div {
  flex: 0 0 auto;
  white-space: nowrap;
  font-size: 130px;
  font-weight: 900;
  overflow: hidden;
  margin: 0 auto;
}
.loop__wrap--first {
  color: #dd9b45;
}
.loop__wrap--second {
  color: #dd9b45;
}
.loop__wrap div:nth-child(odd) {
  animation: loop 200s -100s linear infinite;
}

.loop__wrap div:nth-child(even) {
  animation: loop2 200s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* .page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}
.page-top-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #886a1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
} */


/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.test-slick {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;
  position: relative;
  z-index: 100;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
}




@media screen and (max-width: 1024px) {
  .header__logo {
    width: 60%;
  }
  
  .section-title h2 {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }
  
  .service-title__main--second {
    font-size: 1rem;
    letter-spacing: 0.05em;
    width: 400px;
  }
  /* .service-title__main--second span{
 
} */
  .website-service,
  .creator-service {
    flex-direction: column;
    margin-inline: auto;
    /* width: 80%; */
  }

  .service__items p {
    text-align: center;
  }
  .service__item {
    margin-inline: auto;
  }
  .pricechart_wrap {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 40px 0;
  }

  
  .contact .section-title {
    width: 200px;
  }
  .contact__inner {
    padding: 80px 20px;
  }
  .contact .section-title h2 {
    position: absolute;
    right: -10px;
  }
  .contact p {
    font-size: 18px;
    line-height: 2;
  }
  .contact__wrap {
    margin: 0;
  }

  .contact__form {
    margin-top: 47px;
  }
  .contact__item:not(:first-child) {
    margin-top: 29px;
  }

  .contact__label-text {
    font-size: 14px;
  }

  .contact__required {
    font-size: 10px;
  }
  .contact__input,
  .contact__select {
    font-size: 13px;
    padding: 8px;
  }

  .contact__select-wrap::after {
    top: 15px;
    right: 8px;
  }

  .contact__textarea {
    font-size: 13px;
    padding: 8px;
    height: 146px;
  }

  .contact__input::-moz-placeholder,
  .contact__textarea::-moz-placeholder {
    font-size: 13px;
  }
  .contact__input::placeholder,
  .contact__textarea::placeholder {
    font-size: 13px;
  }

  .contact__select:invalid {
    font-size: 13px;
  }

  .contact__button {
    font-size: 14px;
    margin-top: 24px;
    padding: 13px 12px;
  }
  .contact .read-more__button {
    width: 100%;
  }

  .footer__icon {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .lg-show {
    display: block;
  }
  .lg-none {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .hamburger-button {
      /* position: absolute; */
      top: 40px;
      right: 100px;
      z-index: 2000;
    }
    .header__logo {
      width: 132px;
    }

    .logo img {
      width: 150px;
      margin-left: 0;
    }
    

    .service__items {
      flex-wrap: wrap;
      justify-content: center;
    }
    .service__item {
      /* margin: 20px 0; */
      width: 300px;
    }
    .service-title__main--second {
      font-size: 1rem;
      letter-spacing: 0.05em;
      width: 400px;
    }
    .service__items--web,
    .service__items--creator {
      flex-direction: column;
    }
    .website-service, 
    .creator-service {
      width: 100%;
    }
    /* .pricechart_wrap {
     
      justify-content: center;
      
    } */
    
    .contact__title.section-title span {
      left: 20px;
    }
    .contact__title.section-title h2 {
      right: 40px;
    }
    .contact__wrap {
      padding: 0;
    }
    .contact__inner {
      flex-direction: column;
      justify-content: center;
      /* margin: 0 auto; */
      padding: 0;
    }
    .contact__text {
      max-width: 0 auto;
      padding: 0;
    }
    .contact__form {
      margin-inline: auto;
      width: 80%;
      padding: 0;
    }

    .contact__form dt {
      width: 150%;
      justify-content: start;
    }
    .contact .read-more__button {
      width: 50%;
    }
    .footer__container {
      display: flex;
    }
    .footer__nav.inner {
      width: 150px;
    }
    .footer__items {
      max-width: 200px;
      flex-direction: column;
    }
    .footer__item {
      padding: 20px 0;
    }

    .footer__icon {
      flex-direction: column;
      width: 50px;
      margin: 0 15px; 
    }
    .footer__icon i {
      font-size: 30px;
      padding: 25px 0;
    }
    .footer__info.inner {
      padding-top: 80px;
    }
    
    .md-none {
      display: none;
    }

    .md-show {
      display: block;
    }
    @media screen and (max-width: 375px) {
      .hamburger-button {
        /* position: absolute; */
        top: 40px;
        right: 100px;
        z-index: 2000;
      }
      .service-title__main-second span {
        font-size: 50px;
      }
      .service__item {
        width: 100%;
      }

      .service__item h3 {
        width: 100%;

      }
      .service__item-img {
        margin: 0 auto;
      }
      .service__item-text {
        width: 100%;
        margin: 0 ;
      }
      

      .footer__nav.inner {
        padding-right: 0;
      }
      .footer__icon i {
        margin: 0;
      }
      .sp-none {
        display: none;
      }
  
      .sp-show {
        display: block;
      }
    }
  }
}
