@charset "UTF-8";
/* * {
  outline: 2px red solid;
} */
html {
  font-size: 100%;
  font-family: "Yu Gothic", sans-serif, "Poppins", sans-serif;
  color: #333;
}
body {
  font-weight: 300;
  background-color: rgba(255, 243, 230, 100);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
h2 {
  /* font-family: "Italianno"; */
  font-size: 1.5rem;
}

p {
  font-weight: 500;
}
:root {
  --fadeAnimation: fade 0.5s forwards;
}
.inner {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.pc-none {
  display: block;
}
.md-show {
  display: none;
}
.lg-show {
  display: none;
}

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 80px);
}
.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/* Loading */


/* header */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  opacity: 0.8;
  padding-top: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2% 0 5%;
}

.header__logo {
  margin: 0;
  line-height: 0;
}
.header__logo a {
  display: block;
}
.header__logo img {
  max-width: 180px;
}

.header__items {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__item {
  margin-left: 30px;
}

.header__link,
.slide-menu__link,
.header__link--contact {
  font-family: "Italianno";
  font-size: 35px;
  letter-spacing: 0.1rem;
}
.header__link::after .slide-menu__link::after {
  content: "";
  width: 0;
}

.header__link:hover {
  color: #c47c7c;
}

.header__link:hover::after,
.slide-menu__link:hover::after {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  border-radius: 2px;
  height: 2px;
  transition: width 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-color: #cba96d;
}

.header__link {
  font-weight: 500;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #141414;
  line-height: 1;
}

.header__link--contact {
  border: 1px solid #666666;
  border-radius: 4px;
  display: block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #141414;
  background-color: transparent;
  padding: 10px 40px;
  margin: 0 auto;
}

.header__link--contact span {
  position: relative;
  z-index: 9999;
}

.header__link--contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: #e9af53;
  transition: all 0.5s ease-in-out;
  transform: translateX(-110%) translateY(-20%) rotate(45deg);
}

.header__link--contact:hover span {
  color: #fff;
}

.header__link--contact:hover::after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

nav ul li.current a,
nav ul li a:hover {
  color: #b74803;
}

/* hamburger-button */
.hamburger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  cursor: pointer;
  z-index: 999;

  span {
    background-color: #443103;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
  }
}
.hamburger span {
  position: absolute;
}
.hamburger-button .hamburger-button span:first-of-type {
  top: 0;
}
.hamburger-button span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-button span:last-of-type {
  bottom: 0;
}
.hamburger-button.active > span:first-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 9999;
  background-color: #443103;
}
.hamburger-button.active > span:nth-of-type(2) {
  display: none;
}
.hamburger-button.active > span:last-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9999;
  background-color: #443103;
}

/* slide-menu */
.slide-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  opacity: 0.5;
  z-index: 998;
}
.slide-menu ul {
  margin: 40px 0px;
  text-align: center;
}
.slide-menu li {
  /* border-bottom: solid 2px #333; */
  width: 80px;
  margin-bottom: 20px;
  font-size: 20px;
}
.slide-menu__link:hover {
  color: #333;
}

.slide-menu__link--contact {
  padding: 10px 3px;
  transition: 0.3s background-color;
  background-color: #cba96d;
  border-radius: 6px;
}
.slide-menu__link--contact:hover {
  opacity: 1;
  background-color: #cba96d;
}
.slide-menu.active {
  display: flex;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    top: 45%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}
.icon-button i {
  font-size: 30px;
  display: flex;
  text-align: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
}

/* kv */
.kv {
  margin: 100px 0 0 auto;
  padding: 20px 0 80px 0;
  height: calc(100vh - 200px);
  text-align: center;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 10;
}

.kv__content {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-radius: 40px 0 0 40px;
  margin-left: 5%;
}
/* .wrapper {
  height: 50vh;
} */

.main-img {
  width: 100%;
  height: 700px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  animation: fade 30s infinite;
  overflow: hidden;
  object-fit: cover;
  &:first-of-type {
    background-image: url(../img/kv-img1.jpg);
    animation-delay: 0s;
  }
  &:nth-last-of-type(2) {
    background-image: url(../img/kv-img2.jpg);
    animation-delay: 6s;
  }
  &:nth-last-of-type(3) {
    background-image: url(../img/kv-img3.jpg);
    animation-delay: 12s;
  }
  &:nth-last-of-type(4) {
    background-image: url(../img/kv-img4.jpg);
    animation-delay: 18s;
  }
  &:last-of-type {
    background-image: url(../img/kv-img5.jpg);
    animation-delay: 24s;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
    transform: scale(1);
  }
  18% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.kv__title-img {
  position: absolute;
  right: 0;
  /* bottom: 5%; */
  width: 60%;
  height: 100%;
  /* background: radial-gradient( rgba(85, 85, 85, .5), rgb(238, 238, 238)); */
  background: linear-gradient(to right, rgba(230, 140, 85, 0),rgb(255, 160, 71));
  /* background: linear-gradient(to right, white, gray); */
}
.logo-img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 50%;
}

/* kv__scroll */
.kv__scroll {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #333;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  font-size: 0.8rem;
  z-index: 9;
}
.kv__scroll::after {
  position: absolute;
  bottom: -90px;
  left: 50%;
  width: 2px;
  background-color: rgb(12, 11, 11);
  height: 80px;
  content: "";
  animation: scrollDownLine 1.5s infinite;
}
@keyframes scrollDownLine {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* about */
.about {
  margin: 80px 0 0;
  width: 100%;
  justify-content: center;
 
}
.about .show {
  animation: var(--fadeAnimation);
}
.about__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(../img/aboutback.png);
  background-size: 600px 500px;
  background-repeat: no-repeat;
  background-position: 20%;
  &.is-scrollIn {
    opacity: 1;
    transform: translate(0, -50px);
  }
}

/* section-title */
.section-title {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 130px;
  /* display: inline-block; */
  position: relative;
  margin-left: 15%;
}
.section-title span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  font-family: "Italianno";
  letter-spacing: 0.15rem;

  /* border-bottom: 1px solid #333; */
}

.section-title h2 {
  position: absolute;
  top: 90px;
  right: 50px;
  font-size: 12px;
  font-family: "Yu Gothic", sans-serif;
  /* font-weight: ; */
}
.section-title span::after {
  position: absolute;
  bottom: 5px;
  right: 0px;
  content: "";
  border: solid 2px #bf901a;
  width: 50px;
  /* height: 4px; */
  border-radius: 5px;
  /* width: 10px; */
}

.about__text {
  width: 40%;
  line-height: 1.88;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin: 20px 170px 20px 50px;
  text-align: center;
}
.about__policy {
  font-size: 30px;
  font-weight: bold;
}
.about img {
  object-fit: cover;
  border-radius: 10px;
  width: 40%;
}

/* read-more__button */
.read-more__button {
  
  color: #333;
  border: 1px solid #efefef;
  border-radius: 100vh;
  font-family: "Italianno";
  background: #e2a1f6;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#efaff9),
    to(#dd93e1)
  );
  background: -webkit-linear-gradient(top, #fbfbfc 0%, #dcddde 100%);
  background: linear-gradient(180deg, #f9bac8 0%, #fffcfe 100%);
  -webkit-box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.2), 3px 3px 5px white,
    0 10px 10px rgba(0, 0, 0, 0.1), inset 0 -4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.2), 3px 3px 5px white,
    0 10px 10px rgba(0, 0, 0, 0.1), inset 0 -4px 5px rgba(0, 0, 0, 0.1);
}
.read-more__button span {
  display: inline-block;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

}

.read-more__button:hover {
  -webkit-box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.2), 3px 3px 5px white,
    0 10px 10px rgba(0, 0, 0, 0.1), inset 0 -4px 5px rgba(0, 0, 0, 0.1),
    inset 0 3px 3px rgba(0, 0, 0, 0.18);
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.2), 3px 3px 5px white,
    0 10px 10px rgba(0, 0, 0, 0.1), inset 0 -4px 5px rgba(0, 0, 0, 0.1),
    inset 0 3px 3px rgba(0, 0, 0, 0.18);}
.read-more__button:hover span {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
.about .read-more__button {
 

 
}
.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn-wrap {
  text-align: center;
  margin: 40px ;
}
/*service  */
.service {
  background-image: url(../img/news-background.jpg);
  background-size: cover;
  /* height: 650px; */
  padding: 50px 0 20px 0;
 
}
.service__inner {
  position: relative;
  z-index: 100;
}
.service .section-title {
  text-align: center;
  margin: 0 auto;
}
.service .section-title h2 {
  right: 43px;
}

.service-title__main-second {
  font-family: "Italianno";
  font-size: 3rem;
  width: 100%;
  letter-spacing: 0.15rem;
  font-weight: 100;
  height: 70px;
  padding-bottom: 0px;
  position: relative;
  border-radius: 10px 20px;
  /* background-color: rgba(255, 243, 230, 0.5); */

}


.service-title__main-second.creator {
  border-radius: 0px 0px 10px;
}

.service__items {
  display: flex;
  
  margin: 10px auto 20px;
  flex-wrap: wrap;
  gap: 3.5%;
  padding: 0;
  position: relative;
  z-index: 100;
}
.website-service {
  background-color: rgba(255, 243, 230, 0.5);
  /* display: flex; */
  width: 100%;
  border-radius: 5px 20px 20px 5px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.service__items--web,
.service__items--creator {
  display: flex;
}
.creator-service {
  background-color: rgba(255, 243, 230, 0.5);
  /* display: flex; */
  width: 100%;
  border-radius: 20px 5px 5px 20px;
  padding-top: 20px;
}
.service__item {
  width: 40%;
  margin-bottom: 24px;
  display: block;
  
 }
.service__item--link{
  /* opacity:0.5;
	transition:0.3s; */
  position:relative;
	top:0;
  transition: background-color 0.3s ease;
}
.service__item--link:hover {
  background-color: #f4a7a7;
  top:-10px;
	transition:0.3s;
}
.service__item h3 {
  font-size: 1rem;
}
.service__item-img {
  width: 200px;
  height: 200px;
  background-image: url(../img/aboutback.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline: auto;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__item img {
  width: 60%;
  /* padding-top: 40px; */
}
.service__item:nth-child(2) img,
.service__item:nth-child(3) img {
  width: 50%;
}

.service__item:nth-child(5) img {
  width: 30%;
}
.service__item-title {
  text-align: center;
}
.service__item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.news {
  background-image: url(../img/news-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.news-section .section-title {
  margin: 40px 15%;
}
.news .section-title h2 {
  position: absolute;
  right: 65px;
}
.news {
  padding: 101px 0 30px;
}
.news__inner {
  position: relative;
  z-index: 100;
}
.news__items {
  margin: 50px auto 0;
  width: 70%;
  text-align: center;
  position: relative;
  z-index: 100;
}
.news__items-wrap {
  display: flex;
  
  padding: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #a5a2a2;
}

.news-item__date {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.786;
  display: inline-block;
  padding-bottom: 10px;
}
.news__item  {
  text-align: start;
  width: 50%;
  margin-inline: auto;
  
}
.news-item__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.667;
  /* margin-left: 20px; */
  width: 100%;
  /* padding: 0 30px 30px; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.news__img {
  width: 200px;
  /* padding-left: 80px; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: #b9c7da;
  height: 150px;
  border-radius: 3px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.news .read-more__button {
  margin: 50px auto;
  position: relative;
  z-index: 100;
}

/* works */
.works {
  margin: 60px auto;
  position: relative;
  z-index: 100;
}
.works__title.section-title {
  margin: 50px auto;
}
.works .section-title h2 {
  position: absolute;
  right: 43px;
}
.works__inner.inner {
  padding: 0;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* margin: 0 auto; */
  padding-top: 50px;
  /* max-width: 2000px; */
  gap: 30px;
  padding-right: 0;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 35px;
  row-gap: 46px;
}
.works-item {
  width: 31%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  transition: transform 0.8s;
}
.works-item a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.works-item img {
  filter: saturate(20%);
  filter: sepia(80%);
  transition: filter 0.5s, transform 0.5s;
  vertical-align: top;
}
.works-item div {
  overflow: hidden;
}
.works-item:hover img {
  position: relative;

  transform: scale(1.1);
  filter: saturate(100%);
}


.contact {
  background-image: url(../img/news-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* width: clamp(460px, 90vw, 900px); */
  margin: 80px auto 0;
  position: relative;
  z-index: 100;
}
.contact__wrap {
  padding: 20px 0;
  margin: 20px;
}
.contact .section-title {
  margin: 30px auto;
  width: 270px;
}
.contact .section-title span {
  position: absolute;
  left: 50px;
}
.contact .section-title h2 {
  position: absolute;
  right: 62px;
}
.contact__text {
  text-align: center;
  margin: 30px auto;
  line-height: 1.78;
  letter-spacing: 0.05em;
  /* background-color: rgba(220, 220, 220, 0.3); */
}

.contact__form {
  margin-top: 68px;
  padding: 0 20px 0 60px;
  width: 20%;
}

.contact__item:not(:first-child) {
  margin-top: 30px;
}

.contact__label {
  display: flex;
  align-items: center;
  position: relative;
}

.contact__label-text {
  font-size: 16px;
  color: #25262b;
}

.contact__required {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  background-color: #e05760;
  padding: 2px 10px;
  margin-left: 8px;
}

.contact__input,
.contact__select {
  font-size: 14px;
  color: #25262b;
  border-radius: 4px;
  border: 1px solid #aab5ba;
  margin-top: 12px;
  padding: 11px;
  width: 100%;
}

.contact__select-wrap {
  position: relative;
}

/* .contact__select-wrap::after {
  position: absolute;
  content: url(../img/icon-arrow.svg);
  top: 19px;
  right: 11px;
} */

.contact__textarea {
  font-size: 14px;
  color: #25262b;
  border: 1px solid #aab5ba;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  margin-top: 12px;
  padding: 11px;
  resize: none;
}

.contact__input::-moz-placeholder,
.contact__textarea::-moz-placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-size: 14px;
  color: #d5d5d5;
}

.contact__select:invalid {
  /* color: #d5d5d5; */
}

.contact .read-more__button {
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;

  color: #333;
  padding: 15.5px 12px;
  margin-top: 40px;
  width: 80%;
  transition: background-color 0.3s;
}
.contact .read-more__button::before {
  background: linear-gradient(to right, rgba(203, 122, 157, 0.699), #f4fcfe);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  width: 100%;
  border-radius: 8px;
}
.contact .read-more__button::after {
  top: 3px;
}
.contact.read-more__button span {
  font-family: "Yu Gothic";
  font-weight: 100;
  color: #333;
}
sup {
  position: absolute;
  top: 8px;
  color: #f0111f;

  font-size: 20px;
}
/* サンクスページ */
.thanks {
  padding: 200px 0;
}
.thanks__text {
  text-align: center;
}
.thanks__button.read-more__button{
width: 300px;
}
.thanks__button.read-more__button::after{
top: 15px;
left: 30px;
}
/* Footer */
#footer {
  width: 100%;
  background-image: url(../img/footer-background.jpg);
  /* padding-bottom: 180px; */
 
}
.footer__container {
  position: relative;
  z-index: 100;
}

.footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
  margin: 0;
}

.footer a {
  color: #1d1635;
  font-family: "Italianno";
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.footer__icon i {
  font-size: 30px;
  padding: 10px;
  margin: 0 30px;
  color: #333;
  cursor: pointer;
}
.footer__icon {
  text-align: center;
}
.footer__info {
  letter-spacing: 2px;
  line-height: 1.5;
  display: block;
  max-width: 500px;
}

.footer__copy-right p {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 0.85rem;
}

/* scroll */
.scroll-fixed {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.loop__wrap {
  display: flex;
  position: relative;
  z-index: -100;
}

.loop__wrap div {
  flex: 0 0 auto;
  white-space: nowrap;
  font-size: 130px;
  font-weight: 900;
  overflow: hidden;
  margin: 0 auto;
}
.loop__wrap--first {
  color: #dd9b45;
}
.loop__wrap--second {
  color: #dd9b45;
}
.loop__wrap div:nth-child(odd) {
  animation: loop 200s -100s linear infinite;
}

.loop__wrap div:nth-child(even) {
  animation: loop2 200s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* .page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}
.page-top-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #886a1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
} */


/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.test-slick {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
  z-index: 100;
}

.test-slick__item {
  margin-right: 5px;
  margin-left: 5px;
}

.test-slick__item img {
  height: auto;
  width: 100%;
}


/* about html */
.about__html {
  position: relative;
  z-index: 100;
margin-top:200px ;
}



.career__inner {
display: flex;
/* justify-content: space-between; */
}

.career__wrap {
display: flex;
justify-content: center;
/* align-items: center; */
margin-inline:auto ;
}

.career__items {
margin: 30px;
background-color: #fff;
border-radius: 8px;
padding: 30px 60px;
}

.my-photo__img {
width: 50%;
height: 50%;
border-radius: 8px;
margin: 30px 0;
}

.introduction__inner {
display: flex;
margin-left: 40px;
}

.introduction__text {
  background-color: #fff;
border-radius: 8px;
padding: 10px 30px;
/* width: 80%; */
text-align: center;
}

.my-name__text{
/* padding-left: 20%; */
text-align: center;
background-color: #fff;
border-radius: 8px;
margin: 0  20px 0 80px;
padding: 0 30px;
}
.introduction__text2 {
  display: flex;
}

.my-programming-word {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 0 ;
}
.my-programming-word h2 {
  font-size: 16px;
}

.word-items {
padding: 0 10px 0 20px;

}


.about__html .read-more__button {
position: relative;
z-index: 100;
margin: 50px auto;

}
.about__html .read-more__button::after {
top: 11px;
}



/* news.html */
.dltable {
  width: 90%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 15px;
  background-color: #fff;

  .row1 {
      width: 20%;
  }
  .row2 {
      width: 20%;
  }
  .row3 {
      width: 20%;
  }
  .row4 {
      width: 20%;
  }
  .row5 {
      width: 20%;
  }

  dl {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      text-align: center;
      font-size: 12px;
      border-bottom: 1px solid #ccc;
      &:last-child {
          border-bottom: none;
      }
      dt {
          padding: 10px 0;
          background: #f2f2f2 none repeat scroll 0 0;
          color: #333;
      }
      dd {
          padding: 10px 0;
      }
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 60%;
  }
  .mv {
    margin-bottom: 0;
  }
  .mv__inner {
    margin-bottom: 0;
  }
  /* .section-title {
    width: 170px;
    height: 120px;
  } */
  .section-title h2 {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }
  .about .section-title h2 {
    right: 50px;
  }
  .about__inner {
    margin: 0 auto;
    max-width: 95%;
    /* flex-direction: column-reverse; */
  }
  .about img {
    margin: 0 30px;
    border-radius: 10px;
    width: 50%;
    height: 60%;
  }
  .about__text {
    margin: 0 auto;
    width: 90%;
  }
  .service-title__main--second {
    font-size: 1rem;
    letter-spacing: 0.05em;
    width: 400px;
  }
  /* .service-title__main--second span{
 
} */
  .website-service,
  .creator-service {
    flex-direction: column;
    margin-inline: auto;
    /* width: 80%; */
  }

  /* .service__items p {
    text-align: center;
  } */
  .service__item {
    margin-inline: auto;
  }
  /* .service__item-text {
    width: 250px;
  } */

  .news .section-title {
    text-align: center;
  }
  .news .section-title h2 {
    position: absolute;
    right: 65px;
  }
  .news-list > div:first-of-type {
    border-right: transparent;
  }
  .news-list > div:last-of-type {
    border-left: transparent;
  }
  .works .section-title h2 {
    position: absolute;
    right: 25px;
  }
  .works .section-title {
    margin: 0 auto;
  }
  .works .section-title h2{
    right: 45px;
  }
  .works__inner {
    min-width: 100%;
  }
  .works__list {
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    /* margin: 0 auto; */
    gap: 20px;
  }

  .contact .section-title {
    width: 200px;
  }
  .contact__inner {
    padding: 80px 20px;
  }
  .contact .section-title h2 {
    position: absolute;
    right: -10px;
  }
  .contact p {
    font-size: 18px;
    line-height: 2;
  }
  .contact__wrap {
    margin: 0;
  }

  .contact__form {
    margin-top: 47px;
  }
  .contact__item:not(:first-child) {
    margin-top: 29px;
  }

  .contact__label-text {
    font-size: 14px;
  }

  .contact__required {
    font-size: 10px;
  }
  .contact__input,
  .contact__select {
    font-size: 13px;
    padding: 8px;
  }

  .contact__select-wrap::after {
    top: 15px;
    right: 8px;
  }

  .contact__textarea {
    font-size: 13px;
    padding: 8px;
    height: 146px;
  }

  .contact__input::-moz-placeholder,
  .contact__textarea::-moz-placeholder {
    font-size: 13px;
  }
  .contact__input::placeholder,
  .contact__textarea::placeholder {
    font-size: 13px;
  }

  .contact__select:invalid {
    font-size: 13px;
  }

  .contact__button {
    font-size: 14px;
    margin-top: 24px;
    padding: 13px 12px;
  }

  .footer__icon {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .career__inner {
    flex-direction: column;
  }
  .career__items {
    /* width: 80%; */
    margin: 0 auto;
    line-height: 1.88;
    letter-spacing: 0.05em;
    padding: 30px 100px;
    }
    .my-photo__img {
     margin-inline: auto;
     width: 60%;
      }
      .introduction__inner {
        flex-direction: column-reverse;
        
        }
        .introduction__text {
          margin-inline: auto;
          margin-top: 30px;
          width: 80%;
        }
        .introduction__inner {
          display: flex;
          /* margin-left: 40px; */
          margin: 0;
          }
          
          .introduction__text {
            background-color: #fff;
          border-radius: 8px;
          padding: 10px 0px;
          /* width: 80%; */
          text-align: center;
          }
          
          .my-name__text{
          margin: 0 10px 0 -20px;
          padding: 0 10px;
          }
          .introduction__text2 {
           justify-content: center;
          }
        .lg-show {
          display: block;
        }
        .lg-none {
          display: none;
        }

  @media screen and (max-width: 768px) {
    .header__logo {
      width: 132px;
    }

    .logo img {
      width: 150px;
      margin-left: 0;
    }
    .main-img1 {
      margin-left: 140px;
      width: 170px;
      height: 450px;
    }
    .hamburger-button {
      /* position: absolute; */
      top: 40px;
      right: 100px;
      z-index: 2000;
    }
    /* .main-title img {
    width: 30%;
    margin: 30px 0;
   } */
    /* .kv img {
      position: relative;
      top: 400px;
      right: 30px;
      width: 200px;
    } */
    .logo-img {
      
      width: 60%;
    }

    .service__items {
      flex-wrap: wrap;
      justify-content: center;
    }
    .service__item {
      /* margin: 20px 0; */
      width: 300px;
    }
    .service-title__main--second {
      font-size: 1rem;
      letter-spacing: 0.05em;
      width: 400px;
    }
    .service__items--web,
    .service__items--creator {
      flex-direction: column;
    }
    .website-service, 
    .creator-service {
      width: 90%;
    }
    .about {
      margin: 0;
    }
    .about__wrap {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
    .about .section-title {
      margin: 0 auto;
    }
    .about__wrap img {
      margin: 20px auto;
    }
    .about__text {
      margin: 20px auto;
      font-size: 14px;
      width: 80%;
    }
    .about__policy {
      font-size: 20px;
    }

    .about.read-more__button {
      margin: 0;
    }

    .news__items-wrap {
      padding: 20px 0;
      flex-direction: column;
    }
    .news__items-wrap img {
      margin-inline: auto;
    }
    
    .news-item__title {
      padding: 0 0 50px 0;
    }
    
    .works {
      margin: 0;
    }
    .works .section-title {
      position: relative;
    }

    .works-list {
      gap: 10px;
      padding: 20px;
    }
    .works-item {
      width: 40%;
    }
    .works-inner {
      max-width: 700px;
      flex-wrap: wrap;
      margin: 20px;
    }
    .contact__title.section-title span {
      left: 20px;
    }
    .contact__title.section-title h2 {
      right: 40px;
    }
    .contact__wrap {
      padding: 0;
    }
    .contact__inner {
      flex-direction: column;
      justify-content: center;
      /* margin: 0 auto; */
      padding: 0;
    }
    .contact__text {
      max-width: 0 auto;
      padding: 0;
    }
    .contact__form {
      margin-inline: auto;
      width: 80%;
      padding: 0;
    }

    .contact__form dt {
      width: 150%;
      justify-content: start;
    }
    .contact .read-more__button {
      width: 50%;
    }
    
    .footer__container {
      display: flex;
    }
    .footer__nav.inner {
      width: 150px;
    }
    .footer__items {
      max-width: 200px;
      flex-direction: column;
    }
    .footer__item {
      padding: 20px 0;
    }

    .footer__icon {
      flex-direction: column;
      width: 50px;
      margin: 0 15px;
    }
    .footer__icon i {
      font-size: 30px;
      padding: 25px 0;
    }
    .footer__info.inner {
      padding-top: 80px;
    }
.career__items {
  padding: 20px 10px;
}
    .introduction__inner {
      margin: 0;
      justify-content: center;
    }
    .introduction__text2 {
      flex-direction: column;
      text-align: center;
      width: 80%;
      margin-inline: auto;
      
     }
    .my-name__text {
      padding: 0;
      margin: 0 0 10px 0;
    }
     .word-items {
         text-align: center;
          
     }
     .lg-show {
      display: none;
     }
    .md-none {
      display: none;
    }


    .md-show {
      display: block;
    }
    @media screen and (max-width: 375px) {
      .hamburger-button {
        /* position: absolute; */
        top: 40px;
        right: 100px;
        z-index: 2000;
      }
      .about__text {
        width: 100%;
      }
      .service-title__main-second span {
        font-size: 50px;
      }
      .service__item {
        width: 100%;
      }

      .service__item h3 {
        width: 100%;

      }
      .service__item-img {
        margin: 0 auto;
      }
      .service__item-text {
        width: 100%;
        margin: 0 ;
      }
      .news-item__title {
        padding: 0 0 50px 0;
      }
      .works-item {
        width: 100%;
      }

      .footer__nav.inner {
        padding-right: 0;
      }
      .footer__icon i {
        margin: 0;
      }
      
      .sp-show {
        display: block;
      }
      .sp-none {
        display: none;
      }
    }
  }
}
